* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1d1d1f;
    color: white;
    font-family: Inter, sans-serif;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#header {
    display: flex;
    height: 100vh;
    align-items: center;
    position: sticky;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform-style: preserve-3d;
}

.overflow-wrap {
    overflow: hidden;
    height: 100%;
}

#hero-ui {
    position: relative;
    left: 50%;
    z-index: 1;
    width: 16.9em;
    max-width: none;
    margin-top: 3.2em;
    margin-left: -8.45em;
    font-size: 10vw;
    opacity: 0;
}

.hero-heading {
    will-change: transform, opacity;
    animation: fadeIn 0.8s ease;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    font-size: 92px;
}

.container.container--hero {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    display: flex;
    height: 100vh;
    max-width: none;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.section.section--manifest {
    padding-top: 100px;
    padding-bottom: 160px;
}

.section-header.section-header--intro {
    position: relative;
    max-width: 1050px;
    margin-bottom: 0;
}

.section-header {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-bottom: 142px;
    margin-left: auto;
    text-align: left;
}

.fluid-gradient-heading.fluid-gradient-heading--hero.cc-en {
    font-size: 103px;
}

.fluid-gradient-heading.fluid-gradient-heading--hero {
    margin-right: auto;
    margin-left: auto;
    line-height: 1.05;
    text-align: center;
}

.fluid-gradient-heading {
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
}

.fluid-gradient-heading {
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 92px;
    line-height: 1.1;
    letter-spacing: -.045em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
}